In [4]:
import numpy as np

'''
The following code is to help you play with Numpy, which is a library 
that provides functions that are especially useful when you have to
work with large arrays and matrices of numeric data, like doing 
matrix matrix multiplications. Also, Numpy is battle tested and 
optimized so that it runs fast, much faster than if you were working
with Python lists directly.
'''

'''
The array object class is the foundation of Numpy, and Numpy arrays are like
lists in Python, except that every thing inside an array must be of the
same type, like int or float.
'''
# Change False to True to see Numpy arrays in action
if False:
    array = np.array([1, 4, 5, 8], float)
    print array
    print ""
    array = np.array([[1, 2, 3], [4, 5, 6]], float)  # a 2D array/Matrix
    print array

'''
You can index, slice, and manipulate a Numpy array much like you would with a
a Python list.
'''
# Change False to True to see array indexing and slicing in action
if False:
    array = np.array([1, 4, 5, 8], float)
    print array
    print ""
    print array[1]
    print ""
    print array[:2]
    print ""
    array[1] = 5.0
    print array[1]

# Change False to True to see Matrix indexing and slicing in action
if False:
    two_D_array = np.array([[1, 2, 3], [4, 5, 6]], float)
    print two_D_array
    print ""
    print two_D_array[1][1]
    print ""
    print two_D_array[1, :]
    print ""
    print two_D_array[:, 2]

'''
Here are some arithmetic operations that you can do with Numpy arrays
'''
# Change False to True to see Array arithmetics in action
if False:
    array_1 = np.array([1, 2, 3], float)
    array_2 = np.array([5, 2, 6], float)
    print array_1 + array_2
    print ""
    print array_1 - array_2
    print ""
    print array_1 * array_2

# Change False to True to see Matrix arithmetics in action
if False:
    array_1 = np.array([[1, 2], [3, 4]], float)
    array_2 = np.array([[5, 6], [7, 8]], float)
    print array_1 + array_2
    print ""
    print array_1 - array_2
    print ""
    print array_1 * array_2

'''
In addition to the standard arthimetic operations, Numpy also has a range of
other mathematical operations that you can apply to Numpy arrays, such as
mean and dot product.

Both of these functions will be useful in later programming quizzes.
'''
if True:
    array_1 = np.array([1, 2, 3], float)
    array_2 = np.array([[6], [7], [8]], float)
    print np.mean(array_1)
    print np.mean(array_2)
    print ""
    print np.dot(array_1, array_2)

2.0
7.0

[ 44.]

In [1]:
import pandas as pd

'''
The following code is to help you play with the concept of Series in Pandas.

You can think of Series as an one-dimensional object that is similar to
an array, list, or column in a database. By default, it will assign an
index label to each item in the Series ranging from 0 to N, where N is
the number of items in the Series minus one.

Please feel free to play around with the concept of Series and see what it does

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to create a Series object
if False:
    series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
    print series

'''
You can also manually assign indices to the items in the Series when
creating the series
'''

# Change False to True to see custom index in action
if False:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series

'''
You can use index to select specific items from the Series
'''
# Change False to True to see Series indexing in action
if False:
    series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
    print series['Instructor']
    print ""
    print series[['Instructor', 'Curriculum Manager', 'Course Number']]

'''
You can also use boolean operators to select specific items from the Series
'''
# Change False to True to see boolean indexing in action
if True:
    cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
    print cuteness > 3
    print ""
    print cuteness[cuteness > 3]

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

Puppy     4
Kitten    5
dtype: int64

In [6]:
import numpy as np
import pandas as pd

'''
The following code is to help you play with the concept of Dataframe in Pandas.

You can think of a Dataframe as something with rows and columns. It is
similar to a spreadsheet, a database table, or R's data.frame object.

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''

'''
To create a dataframe, you can pass a dictionary of lists to the Dataframe
constructor:
1) The key of the dictionary will be the column name
2) The associating list will be the values within that column.
'''
# Change False to True to see Dataframes in action
if False:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football

'''
Pandas also has various functions that will help you understand some basic
information about your data frame. Some of these functions are:
1) dtypes: to get the datatype for each column
2) describe: useful for seeing basic statistics of the dataframe's numerical
   columns
3) head: displays the first five rows of the dataset
4) tail: displays the last five rows of the dataset
'''
# Change False to True to see these functions in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.dtypes
    print ""
    print football.describe()
    print ""
    print football.head()
    print ""
    print football.tail()

losses     int64
team      object
wins       int64
year       int64
dtype: object

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [78]:
from pandas import DataFrame, Series

#################
# Syntax Reminder:
#
# The following code would create a two-column pandas DataFrame
# named df with columns labeled 'name' and 'age':
#
# people = ['Sarah', 'Mike', 'Chrisna']
# ages  =  [28, 32, 25]
# df = DataFrame({'name' : Series(people),
#                 'age'  : Series(ages)})

def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    # your code here
    data={'countries':Series(countries),
          'gold':Series(gold),
          'sliver':Series(silver),
          'bronze':Series(bronze),
          }
    olympic_medal_counts_df=DataFrame(data)

    return olympic_medal_counts_df

if __name__ == "__main__":
    print create_dataframe()
#cd.describe()

    bronze       countries  gold  sliver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

In [18]:
import pandas as pd

'''
You can think of a DataFrame as a group of Series that share an index.
This makes it easy to select specific columns that you want from the 
DataFrame. 

Also a couple pointers:
1) Selecting a single column from the DataFrame will return a Series
2) Selecting multiple columns from the DataFrame will return a DataFrame

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to see Series indexing in action
if False:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football['year']
    print ''
    print football.year  # shorthand for football['year']
    print ''
    print football[['year', 'wins', 'losses']]

'''
Row selection can be done through multiple ways.

Some of the basic and common methods are:
   1) Slicing
   2) An individual index (through the functions iloc or loc)
   3) Boolean indexing

You can also combine multiple selection requirements through boolean
operators like & (and) or | (or)
'''
# Change False to True to see boolean indexing in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.iloc[[0]]
    print ""
    print football.loc[[0]]
    print ""
    print football[3:5]
    print ""
    print football[football.wins > 10]
    print ""
    print football[(football.wins > 10) & (football.team == "Packers")]

   losses   team  wins  year
0       5  Bears    11  2010

   losses   team  wins  year
0       5  Bears    11  2010

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

In [77]:
from pandas import DataFrame, Series
import numpy


def avg_medal_count():
    '''
    Compute the average number of bronze medals earned by countries who 
    earned at least one gold medal.  
    
    Save this to a variable named avg_bronze_at_least_one_gold. You do not
    need to call the function in your code when running it in the browser -
    the grader will do that automatically when you submit or test it.
    
    HINT-1:
    You can retrieve all of the values of a Pandas column from a 
    data frame, "df", as follows:
    df['column_name']
    
    HINT-2:
    The numpy.mean function can accept as an argument a single
    Pandas column. 
    
    For example, numpy.mean(df["col_name"]) would return the 
    mean of the values located in "col_name" of a dataframe df.
    '''


    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': gold,
                            'silver': silver,
                            'bronze': bronze}
    df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    avg_bronze_at_least_one_gold=numpy.mean(df["bronze"][df["gold"]>=1])

    return avg_bronze_at_least_one_gold
if __name__ == "__main__":
    print avg_medal_count()

4.2380952381

In [76]:
import numpy
from pandas import DataFrame, Series


def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': gold,
                            'silver': silver,
                            'bronze': bronze}    
    df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    avg_medal_count=numpy.mean(df[:])
    return avg_medal_count

if __name__ == "__main__":
    print avg_medal_count()

bronze    3.807692
gold      3.807692
silver    3.730769
dtype: float64

In [75]:
import numpy
from pandas import DataFrame, Series


def numpy_dot():
    '''
    Imagine a point system in which each country is awarded 4 points for each
    gold medal,  2 points for each silver medal, and one point for each 
    bronze medal.  

    Using the numpy.dot function, create a new dataframe called 
    'olympic_points_df' that includes:
        a) a column called 'country_name' with the country name
        b) a column called 'points' with the total number of points the country
           earned at the Sochi olympics.
           
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
    # YOUR CODE HERE
    olympic_points_df=DataFrame({'country_name':countries,'points':numpy.dot([4,2,1],[gold,silver,bronze])})    
    return olympic_points_df

if __name__ == "__main__":
    print numpy_dot()

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1

In [74]:
import numpy as np
import pandas
import statsmodels.api as sm

def simple_heuristic(file_path):
    '''
    In this exercise, we will perform some rudimentary practices similar to those of
    an actual data scientist.
    
    Part of a data scientist's job is to use her or his intuition and insight to
    write algorithms and heuristics. A data scientist also creates mathematical models 
    to make predictions based on some attributes from the data that they are examining.

    We would like for you to take your knowledge and intuition about the Titanic
    and its passengers' attributes to predict whether or not the passengers survived
    or perished. You can read more about the Titanic and specifics about this dataset at:
    http://en.wikipedia.org/wiki/RMS_Titanic
    http://www.kaggle.com/c/titanic-gettingStarted
        
    In this exercise and the following ones, you are given a list of Titantic passengers
    and their associated information. More information about the data can be seen at the 
    link below:
    http://www.kaggle.com/c/titanic-gettingStarted/data. 

    For this exercise, you need to write a simple heuristic that will use
    the passengers' gender to predict if that person survived the Titanic disaster.
    
    You prediction should be 78% accurate or higher.
        
    Here's a simple heuristic to start off:
       1) If the passenger is female, your heuristic should assume that the
       passenger survived.
       2) If the passenger is male, you heuristic should
       assume that the passenger did not survive.
    
    You can access the gender of a passenger via passenger['Sex'].
    If the passenger is male, passenger['Sex'] will return a string "male".
    If the passenger is female, passenger['Sex'] will return a string "female".

    Write your prediction back into the "predictions" dictionary. The
    key of the dictionary should be the passenger's id (which can be accessed
    via passenger["PassengerId"]) and the associated value should be 1 if the
    passenger survied or 0 otherwise.

    For example, if a passenger is predicted to have survived:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 1

    And if a passenger is predicted to have perished in the disaster:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 0
    
    You can also look at the Titantic data that you will be working with
    at the link below:
    https://www.dropbox.com/s/r5f9aos8p9ri9sa/titanic_data.csv
    '''

    predictions = {}
    real = []
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
        passenger_id = passenger['PassengerId']
      
        # Your code here:
        # For example, let's assume that if the passenger
        # is a male, then the passenger survived.
        if passenger['Sex'] == 'male':
            predictions[passenger_id] = 0
        else:
            predictions[passenger_id] = 1

    return predictions

def check_accuracy(file_name):
    total_count = 0
    correct_count = 0
    df = pandas.read_csv(file_name)
    predictions = simple_heuristic(file_name)
    for row_index, row in df.iterrows():
        total_count += 1
        if predictions[row['PassengerId']] == row['Survived']:
            correct_count += 1
    return float(correct_count)/float(total_count)

if __name__ == "__main__":
    simple_heuristic_success_rate = check_accuracy('titanic_data.csv')
    print simple_heuristic_success_rate
    
#Your heuristic is 78.68% accurate. Is it 78% or better?

0.786756453423

In [73]:
import numpy as np
import pandas
import statsmodels.api as sm

def complex_heuristic(file_path):
    '''
    You are given a list of Titantic passengers and their associated
    information. More information about the data can be seen at the link below:
    http://www.kaggle.com/c/titanic-gettingStarted/data

    For this exercise, you need to write a more sophisticated algorithm
    that will use the passengers' gender and their socioeconomical class and age 
    to predict if they survived the Titanic diaster. 
    
    You prediction should be 79% accurate or higher.
    
    Here's the algorithm, predict the passenger survived if:
    1) If the passenger is female or
    2) if his/her socioeconomic status is high AND if the passenger is under 18
    
    Otherwise, your algorithm should predict that the passenger perished in the disaster.
    
    Or more specifically in terms of coding:
    female or (high status and under 18)
    
    You can access the gender of a passenger via passenger['Sex'].
    If the passenger is male, passenger['Sex'] will return a string "male".
    If the passenger is female, passenger['Sex'] will return a string "female".
    
    You can access the socioeconomic status of a passenger via passenger['Pclass']:
    High socioeconomic status -- passenger['Pclass'] is 1
    Medium socioeconomic status -- passenger['Pclass'] is 2
    Low socioeconomic status -- passenger['Pclass'] is 3

    You can access the age of a passenger via passenger['Age'].
    
    Write your prediction back into the "predictions" dictionary. The
    key of the dictionary should be the Passenger's id (which can be accessed
    via passenger["PassengerId"]) and the associated value should be 1 if the
    passenger survived or 0 otherwise. 

    For example, if a passenger is predicted to have survived:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 1

    And if a passenger is predicted to have perished in the disaster:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 0
    
    You can also look at the Titantic data that you will be working with
    at the link below:
    https://www.dropbox.com/s/r5f9aos8p9ri9sa/titanic_data.csv
    '''

    predictions = {}
    real = []
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
        passenger_id = passenger['PassengerId']
        # 
        # your code here
        # for example, assuming that passengers who are male
        # and older than 18 surived:
        if passenger['Sex'] == 'female' or (passenger['Age'] < 18 and passenger['Pclass'] < 2):
            predictions[passenger_id] = 1
        else:
            predictions[passenger_id] = 0
    return predictions

def check_accuracy(file_name):
    total_count = 0
    correct_count = 0
    df = pandas.read_csv(file_name)
    predictions = complex_heuristic(file_name)
    for row_index, row in df.iterrows():
        total_count += 1
        if predictions[row['PassengerId']] == row['Survived']:
            correct_count += 1
    return float(correct_count)/float(total_count)


if __name__ == "__main__":
    complex_heuristic_success_rate = check_accuracy('titanic_data.csv')
    print complex_heuristic_success_rate

#Your heuristic is 79.12% accurate. Is it 79% or better?

0.791245791246

In [72]:
import numpy as np
import pandas
import statsmodels.api as sm

def custom_heuristic(file_path):
    '''
    You are given a list of Titantic passengers and their associated
    information. More information about the data can be seen at the link below:
    http://www.kaggle.com/c/titanic-gettingStarted/data

    For this exercise, you need to write a custom heuristic that will take
    in some combination of the passenger's attributes and predict if the passenger
    survived the Titanic diaster.

    Can your custom heuristic beat 80% accuracy?
    
    The available attributes are:
    Pclass          Passenger Class
                    (1 = 1st; 2 = 2nd; 3 = 3rd)
    Name            Name
    Sex             Sex
    Age             Age
    SibSp           Number of Siblings/Spouses Aboard
    Parch           Number of Parents/Children Aboard
    Ticket          Ticket Number
    Fare            Passenger Fare
    Cabin           Cabin
    Embarked        Port of Embarkation
                    (C = Cherbourg; Q = Queenstown; S = Southampton)
                    
    SPECIAL NOTES:
    Pclass is a proxy for socioeconomic status (SES)
    1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

    Age is in years; fractional if age less than one
    If the age is estimated, it is in the form xx.5

    With respect to the family relation variables (i.e. SibSp and Parch)
    some relations were ignored. The following are the definitions used
    for SibSp and Parch.

    Sibling:  brother, sister, stepbrother, or stepsister of passenger aboard Titanic
    Spouse:   husband or wife of passenger aboard Titanic (mistresses and fiancees ignored)
    Parent:   mother or father of passenger aboard Titanic
    Child:    son, daughter, stepson, or stepdaughter of passenger aboard Titanic
    
    Write your prediction back into the "predictions" dictionary. The
    key of the dictionary should be the passenger's id (which can be accessed
    via passenger["PassengerId"]) and the associating value should be 1 if the
    passenger survvied or 0 otherwise. 

    For example, if a passenger is predicted to have survived:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 1

    And if a passenger is predicted to have perished in the disaster:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 0
    
    You can also look at the Titantic data that you will be working with
    at the link below:
    https://www.dropbox.com/s/r5f9aos8p9ri9sa/titanic_data.csv
    '''

    predictions = {}
    real=[]
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
        #
        # your code here
        #
        passenger_id = passenger['PassengerId']
        if passenger['Sex']=='female' or (passenger['Age'] < 15 and passenger['Pclass'] < 3) :
            predictions[passenger_id]=1
        else:
            predictions[passenger_id]=0

    return predictions

def check_accuracy(file_name):
    total_count = 0
    correct_count = 0
    df = pandas.read_csv(file_name)
    predictions = custom_heuristic(file_name)
    for row_index, row in df.iterrows():
        total_count += 1
        if predictions[row['PassengerId']] == row['Survived']:
            correct_count += 1
    #print correct_count, total_count
    return float(correct_count)/float(total_count)


if __name__ == "__main__":
    custom_heuristic_success_rate = check_accuracy('titanic_data.csv')
    print custom_heuristic_success_rate


#Your heuristic is 80.02% accurate. Is it 80% or better?

713 891
0.800224466891

In [60]:
import pandas

def add_full_name(path_to_csv, path_to_new_csv):
    #Assume you will be reading in a csv file with the same columns that the
    #Lahman baseball data set has -- most importantly, there are columns
    #called 'nameFirst' and 'nameLast'.
    #1) Write a function that reads a csv
    #located at "path_to_csv" into a pandas dataframe and adds a new column
    #called 'nameFull' with a player's full name.
    #
    #For example:
    #   for Hank Aaron, nameFull would be 'Hank Aaron', 
	#
	#2) Write the data in the pandas dataFrame to a new csv file located at
	#path_to_new_csv

    #WRITE YOUR CODE HERE
    pf = pandas.read_csv(path_to_csv)
    pf['nameFull']=pf['nameFirst']+' '+pf['nameLast']
    pf.to_csv(path_to_new_csv)
    
if __name__ == "__main__":
    # For local use only
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # The dataset can be downloaded from this website: http://www.seanlahman.com/baseball-archive/statistics
    # We are using the file Master.csv
    path_to_csv = "Master.csv"
    path_to_new_csv = "Master_new.csv"
    add_full_name(path_to_csv, path_to_new_csv)
    
    pf = pandas.read_csv(path_to_new_csv)
    print pf.nameFull

0             David Aardsma
1                Hank Aaron
2              Tommie Aaron
3                  Don Aase
4                 Andy Abad
5             Fernando Abad
6               John Abadie
7            Ed Abbaticchio
8                Bert Abbey
9             Charlie Abbey
10               Dan Abbott
11              Fred Abbott
12             Glenn Abbott
13              Jeff Abbott
14               Jim Abbott
15              Kurt Abbott
16              Kyle Abbott
17               Ody Abbott
18              Paul Abbott
19                  Al Aber
20        Frank Abercrombie
21       Reggie Abercrombie
22          Bill Abernathie
23          Brent Abernathy
24            Ted Abernathy
25            Ted Abernathy
26          Woody Abernathy
27            Cliff Aberson
28              Harry Ables
29              Shawn Abner
                ...
18559      Jordan Zimmerman
18560     Jordan Zimmermann
18561         Roy Zimmerman
18562        Ryan Zimmerman
18563          Charlie Zink
18564           Walter Zink
18565            Frank Zinn
18566              Guy Zinn
18567            Jimmy Zinn
18568           Bill Zinser
18569           Alan Zinter
18570            Bud Zipfel
18571           Richie Zisk
18572            Barry Zito
18573        Billy Zitzmann
18574              Ed Zmich
18575           Ben Zobrist
18576      Peter Zoccolillo
18577            Sam Zoldak
18578           Eddie Zosky
18579            Bill Zuber
18580             Jon Zuber
18581          Julio Zuleta
18582           Joel Zumaya
18583           Mike Zunino
18584            Bob Zupcic
18585            Frank Zupo
18586          Paul Zuvella
18587       George Zuverink
18588        Dutch Zwilling
Name: nameFull, dtype: object

In [66]:
import pandas
import pandasql

def select_first_50(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Select out the first 50 values for "registrar" and "enrolment_agency"
    # in the aadhaar_data table using SQL syntax. 
    #
    # Note that "enrolment_agency" is spelled with one l. Also, the order
    # of the select does matter. Make sure you select registrar then enrolment agency
    # in your query.
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://www.dropbox.com/s/vn8t4uulbsfmalo/aadhaar_data.csv
    q = """
    -- YOUR QUERY HERE
    select registrar, enrolment_agency from aadhaar_data limit 50
    """
    
    #Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution  

if __name__ == "__main__":
    print select_first_50("aadhaar_data.csv")

         registrar             enrolment_agency
0   Allahabad Bank            Tera Software Ltd
1   Allahabad Bank            Tera Software Ltd
2   Allahabad Bank  Vakrangee Softwares Limited
3   Allahabad Bank  Vakrangee Softwares Limited
4   Allahabad Bank  Vakrangee Softwares Limited
5   Allahabad Bank  Vakrangee Softwares Limited
6   Allahabad Bank  Vakrangee Softwares Limited
7   Allahabad Bank  Vakrangee Softwares Limited
8   Allahabad Bank  Vakrangee Softwares Limited
9   Allahabad Bank  Vakrangee Softwares Limited
10  Allahabad Bank  Vakrangee Softwares Limited
11  Allahabad Bank  Vakrangee Softwares Limited
12  Allahabad Bank  Vakrangee Softwares Limited
13  Allahabad Bank  Vakrangee Softwares Limited
14  Allahabad Bank  Vakrangee Softwares Limited
15  Allahabad Bank  Vakrangee Softwares Limited
16  Allahabad Bank  Vakrangee Softwares Limited
17  Allahabad Bank  Vakrangee Softwares Limited
18  Allahabad Bank  Vakrangee Softwares Limited
19  Allahabad Bank  Vakrangee Softwares Limited
20  Allahabad Bank  Vakrangee Softwares Limited
21  Allahabad Bank  Vakrangee Softwares Limited
22  Allahabad Bank  Vakrangee Softwares Limited
23  Allahabad Bank  Vakrangee Softwares Limited
24  Allahabad Bank  Vakrangee Softwares Limited
25  Allahabad Bank  Vakrangee Softwares Limited
26  Allahabad Bank  Vakrangee Softwares Limited
27  Allahabad Bank  Vakrangee Softwares Limited
28  Allahabad Bank  Vakrangee Softwares Limited
29  Allahabad Bank  Vakrangee Softwares Limited
30  Allahabad Bank  Vakrangee Softwares Limited
31  Allahabad Bank  Vakrangee Softwares Limited
32  Allahabad Bank  Vakrangee Softwares Limited
33  Allahabad Bank  Vakrangee Softwares Limited
34  Allahabad Bank  Vakrangee Softwares Limited
35  Allahabad Bank  Vakrangee Softwares Limited
36  Allahabad Bank  Vakrangee Softwares Limited
37  Allahabad Bank  Vakrangee Softwares Limited
38  Allahabad Bank  Vakrangee Softwares Limited
39  Allahabad Bank  Vakrangee Softwares Limited
40  Allahabad Bank  Vakrangee Softwares Limited
41  Allahabad Bank  Vakrangee Softwares Limited
42  Allahabad Bank  Vakrangee Softwares Limited
43  Allahabad Bank  Vakrangee Softwares Limited
44  Allahabad Bank  Vakrangee Softwares Limited
45  Allahabad Bank  Vakrangee Softwares Limited
46  Allahabad Bank  Vakrangee Softwares Limited
47  Allahabad Bank  Vakrangee Softwares Limited
48  Allahabad Bank  Vakrangee Softwares Limited
49  Allahabad Bank  Vakrangee Softwares Limited

In [79]:
import pandas
import pandasql

def aggregate_query(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.
    #
    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.
    #

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://www.dropbox.com/s/vn8t4uulbsfmalo/aadhaar_data.csv
        
    q = "select gender, district, sum(aadhaar_generated) from aadhaar_data where Age > 50 group by district, gender order by gender"

    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

if __name__ == "__main__":
    print aggregate_query("aadhaar_data.csv")

    gender           district  sum(aadhaar_generated)
0        F         Ahmadnagar                      45
1        F        Ahmed Nagar                       0
2        F          Ahmedabad                       1
3        F              Ajmer                      27
4        F              Akola                       5
5        F          Alirajpur                      71
6        F          Allahabad                      15
7        F              Alwar                      14
8        F             Ambala                       7
9        F           Amravati                       0
10       F           Amritsar                      30
11       F            Anuppur                     101
12       F        Ashok Nagar                       1
13       F         Aurangabad                      19
14       F           Balaghat                     287
15       F          Bangalore                     433
16       F    Bangalore Rural                       9
17       F              Banka                       0
18       F           Banswara                      28
19       F              Baran                       5
20       F            Barwani                      34
21       F           Bathinda                      43
22       F               Beed                      25
23       F            Belgaum                      59
24       F            Bellary                      65
25       F              Betul                      41
26       F          Bhagalpur                       0
27       F           Bhandara                       4
28       F          Bharatpur                      94
29       F           Bhilwara                      50
..     ...                ...                     ...
498      M              Sirsa                     158
499      M            Solapur                      80
500      M          Sonbhadra                       7
501      M            Sonipat                      14
502      M        South Delhi                       5
503      M      South Tripura                       0
504      M   South West Delhi                       4
505      M  Sri Muktsar Sahib                      21
506      M         Tarn Taran                     125
507      M              Thane                     144
508      M          Tikamgarh                     265
509      M     Tiruvannamalai                       1
510      M               Tonk                      49
511      M             Tumkur                       1
512      M            Udaipur                      16
513      M             Ujjain                      66
514      M             Umaria                     137
515      M                Una                       3
516      M             Valsad                       2
517      M            Vellore                       0
518      M            Vidisha                      84
519      M         Viluppuram                      18
520      M             Wardha                       1
521      M             Washim                      33
522      M         West Delhi                       3
523      M     West Singhbhum                     227
524      M       West Tripura                      24
525      M             Yadgir                      12
526      M       Yamuna Nagar                     149
527      M           Yavatmal                      54

[528 rows x 3 columns]

In [84]:
import json
import requests

def api_get_request(url):
    # In this exercise, you want to call the last.fm API to get a list of the
    # top artists in Spain.
    #
    # Once you've done this, return the name of the number 1 top artist in Spain.
    data = requests.get(url).text
    data = json.load(data)
    #print(data['topartists']['artist'][0]['name'])
    return data['topartists']['artist'][0]['name'] # return the top artist in Spain
    
def api_get_json(file_name):
    with open(file_name) as json_data:
        d = json.load(json_data)
        json_data.close()
        return d['topartists']['artist'][0]['name']
        #pprint(d)    
    
if __name__ == '__main__':
    # url should be the url to the last.fm api call which
    # will return find the top artists in Spain

    url = ""
    #print api_get_request(url) 
    print api_get_json('lastfm.json') 

#Good job! Arctic Monkeys is top artist in Spain

Arctic Monkeys

In [85]:
from pandas import *
import numpy

def imputation(filename):
    # Pandas dataframes have a method called 'fillna(value)', such that you can
    # pass in a single value to replace any NAs in a dataframe or series. You
    # can call it like this: 
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Using the numpy.mean function, which calculates the mean of a numpy
    # array, impute any missing values in our Lahman baseball
    # data sets 'weight' column by setting them equal to the average weight.
    # 
    # You can access the 'weight' colum in the baseball data frame by
    # calling baseball['weight']

    baseball = pandas.read_csv(filename)
    
    #YOUR CODE GOES HERE
    baseball['weight']=baseball['weight'].fillna(numpy.mean(baseball['weight']))

    return baseball

if __name__ == "__main__":
    baseball_weight=imputation("Master.csv")
    print baseball_weight

     lahmanID   playerID   managerID       hofID  birthYear  birthMonth  \
0           1  aaronha01         NaN  aaronha01h       1934           2
1           2  aaronto01         NaN         NaN       1939           8
2           3   aasedo01         NaN         NaN       1954           9
3           4   abadan01         NaN         NaN       1972           8
4           5  abadijo01         NaN         NaN       1854          11
5           6  abbated01         NaN         NaN       1877           4
6           7  abbeybe01         NaN         NaN       1869          11
7           8  abbeych01         NaN         NaN       1866          10
8           9  abbotda01         NaN         NaN       1862           3
9          10  abbotfr01         NaN         NaN       1874          10
10         11  abbotgl01         NaN         NaN       1951           2
11         12  abbotje01         NaN         NaN       1972           8
12         13  abbotji01         NaN  abbotji01h       1967           9
13         14  abbotku01         NaN         NaN       1969           6
14         15  abbotky01         NaN         NaN       1968           2
15         16  abbotod01         NaN         NaN       1888           9
16         17  abbotpa01         NaN         NaN       1967           9
17         18   aberal01         NaN         NaN       1927           7
18         19  abercda01         NaN         NaN       1851           1
19         20  abernbi01         NaN         NaN       1929           1
20         21  abernbr01         NaN         NaN       1977           9
21         22  abernte01         NaN         NaN       1921          10
22         23  abernte02         NaN         NaN       1933           3
23         24  abernwo01         NaN         NaN       1915           2
24         25  aberscl01         NaN         NaN       1921           8
25         26  ablesha01         NaN         NaN       1883          10
26         27  abnersh01         NaN         NaN       1966           6
27         28  abramca01         NaN         NaN       1924           3
28         29  abramge01         NaN         NaN       1899          11
29         30  abregjo01         NaN         NaN       1962           7
..        ...        ...         ...         ...        ...         ...
967       969  bergehe01         NaN         NaN       1882           1
968       970  bergejo01         NaN         NaN       1886          12
969       971  bergejo02         NaN         NaN       1901           8
970       972  bergetu01         NaN         NaN       1867          12
971       973  bergewa01         NaN  bergewa01h       1905          10
972       974  bergepe01         NaN         NaN       1977          11
973       975  berghjo01         NaN         NaN       1857          10
974       976  berghma01         NaN         NaN       1888           6
975       977  bergmal01         NaN         NaN       1890           9
976       978  bergmda01         NaN         NaN       1953           6
977       979  bergmse01         NaN         NaN       1970           4
978       980  berkefr01         NaN         NaN        NaN         NaN
979       981  berkena01         NaN         NaN       1831         NaN
980       982  berkmla01         NaN         NaN       1976           2
981       983  berlyja01         NaN         NaN       1903           5
982       984  bermabo01         NaN         NaN       1899           1
983       985  bernavi01         NaN         NaN       1953          10
984       986  bernacu01         NaN         NaN       1878           2
985       987  bernadw01         NaN         NaN       1952           5
986       988  bernajo01         NaN         NaN       1882           3
987       989  bernato01         NaN         NaN       1956           8
988       990  bernead01         NaN         NaN       1976          11
989       991  bernhbi01         NaN         NaN       1871           3
990       992  bernhju01         NaN         NaN       1953           8
991       993  bernhwa01         NaN         NaN       1893           5
992       994  bernica01         NaN         NaN       1927           1
993       995   berojo01         NaN         NaN       1922          12
994       996  berrada01         NaN         NaN       1956          12
995       997  berrayo01  berrayo01m  berrayo01h       1925           5
996       998  berrade01         NaN         NaN       1887          10

     birthDay birthCountry birthState             birthCity    ...      bats  \
0           5          USA         AL                Mobile    ...         R
1           5          USA         AL                Mobile    ...         R
2           8          USA         CA                Orange    ...         R
3          25          USA         FL       West Palm Beach    ...         L
4           4          USA         PA          Philadelphia    ...         R
5          15          USA         PA               Latrobe    ...         R
6          29          USA         VT                 Essex    ...         R
7          14          USA         NE            Falls City    ...         L
8          16          USA         OH               Portage    ...         R
9          22          USA         OH            Versailles    ...         R
10         16          USA         AR           Little Rock    ...         R
11         17          USA         GA               Atlanta    ...         R
12         19          USA         MI                 Flint    ...         L
13          2          USA         OH            Zanesville    ...         R
14         18          USA         MA           Newburyport    ...         L
15          5          USA         PA             New Eagle    ...         R
16         15          USA         CA              Van Nuys    ...         R
17         31          USA         OH             Cleveland    ...         L
18          2          USA         MD           Fort Towson    ...       NaN
19         30          USA         CA              Torrance    ...         R
20         23          USA         GA               Atlanta    ...         R
21         30          USA         NC                Mebane    ...         R
22          6          USA         NC               Stanley    ...         R
23          1          USA         NC           Forest City    ...         L
24         28          USA         IL               Chicago    ...         R
25          4          USA         TX               Terrell    ...         R
26         17          USA         OH              Hamilton    ...         R
27          2          USA         PA          Philadelphia    ...         L
28          9          USA         WA               Seattle    ...         R
29          4          USA         TX        Corpus Christi    ...         R
..        ...          ...        ...                   ...    ...       ...
967         7          USA         IL               LaSalle    ...       NaN
968        20          USA         MO             St. Louis    ...         R
969        27          USA         PA          Philadelphia    ...         R
970         6          USA         PA            Pittsburgh    ...       NaN
971        10          USA         IL               Chicago    ...         R
972         9          USA         MA            Greenfield    ...         L
973         8          USA         MA                Boston    ...       NaN
974        18          USA         PA               Elliott    ...         L
975        27          USA         IN                  Peru    ...         R
976         6          USA         IL              Evanston    ...         L
977        11          USA         IL                Joliet    ...         R
978       NaN          NaN        NaN                   NaN    ...       NaN
979       NaN          USA         PA                   NaN    ...       NaN
980        10          USA         TX                  Waco    ...         B
981        24          USA         LA          Natchitoches    ...         R
982        24          USA         NY              New York    ...         R
983         6          USA         CA           Los Angeles    ...         R
984        18          USA         WV           Parkersburg    ...         L
985        31          USA         IL          Mount Vernon    ...         R
986        24          USA         IL              Brighton    ...         R
987        24         P.R.        NaN                Caguas    ...         B
988        28          USA         CA              San Jose    ...         R
989        16          USA         NY              Clarence    ...         B
990        31         D.R.        NaN  San Pedro de Macoris    ...         R
991        20          USA         PA      Pleasant Village    ...         R
992        28         P.R.        NaN            Juana Diaz    ...         R
993        22          USA         WV                  Gary    ...         L
994        13          USA         NJ             Ridgewood    ...         R
995        12          USA         MO             St. Louis    ...         L
996         8          USA         MA              Merrimac    ...         L

     throws       debut   finalGame              college lahman40ID  \
0         R   4/13/1954   10/3/1976                  NaN  aaronha01
1         R   4/10/1962   9/26/1971                  NaN  aaronto01
2         R   7/26/1977   10/3/1990    Cal St. Fullerton   aasedo01
3         L   9/10/2001   4/13/2006    Middle Georgia JC   abadan01
4         R   4/26/1875   6/10/1875                  NaN  abadijo01
5         R    9/4/1897   9/15/1910                  NaN  abbated01
6         R   6/14/1892   9/23/1896                  NaN  abbeybe01
7       NaN   8/16/1893   8/19/1897                  NaN  abbeych01
8         R   4/19/1890   5/23/1890                  NaN  abbotda01
9         R   4/25/1903   9/20/1905                  NaN  abbotfr01
10        R   7/29/1973    8/8/1984       Arkansas State  abbotgl01
11        L   6/10/1997   9/29/2001             Kentucky  abbotje01
12        L    4/8/1989   7/21/1999             Michigan  abbotji01
13        R    9/8/1993   4/13/2001                  NaN  abbotku01
14        L   9/10/1991   8/24/1996   Cal St. Long Beach  abbotky01
15        R   9/10/1910  10/15/1910                  NaN  abbotod01
16        R   8/21/1990    8/7/2004                  NaN  abbotpa01
17        L   9/15/1950   9/11/1957                  NaN   aberal01
18      NaN  10/21/1871  10/21/1871                  NaN  abercda01
19        R   9/27/1952   9/27/1952                  NaN  abernbi01
20        R   6/25/2001   9/29/2005                  NaN  abernbr01
21        L   9/19/1942   4/29/1944                  NaN  abernte01
22        R   4/13/1955   9/30/1972                  NaN  abernte02
23        L   7/28/1946   4/17/1947                  NaN  abernwo01
24        R   7/18/1947    5/9/1949                  NaN  aberscl01
25        L    9/4/1905    5/5/1911                  NaN  ablesha01
26        R    9/8/1987   10/3/1992                  NaN  abnersh01
27        L   4/20/1949    5/9/1956                  NaN  abramca01
28        R   4/19/1923    5/4/1923                  NaN  abramge01
29        R    9/4/1985   10/3/1985                  NaN  abregjo01
..      ...         ...         ...                  ...        ...
967       R    5/6/1907   7/22/1910                  NaN  bergehe01
968       R   4/11/1913   9/27/1914                  NaN  bergejo01
969       R   4/20/1922    9/6/1927                  NaN  bergejo02
970       R    5/9/1890   8/28/1892                  NaN  bergetu01
971       R   4/15/1930    7/4/1940                  NaN  bergewa01
972       R    9/7/1999   4/18/2004                  NaN  bergepe01
973     NaN    8/5/1876         NaN                  NaN  berghjo01
974       R    9/8/1911   10/3/1915                  NaN  berghma01
975       R   8/29/1916   9/12/1916                  NaN  bergmal01
976       L   8/26/1975   10/4/1992       Illinois State  bergmda01
977       R    7/7/1993   6/17/2000                  NaN  bergmse01
978     NaN    7/4/1884   7/12/1884                  NaN  berkefr01
979     NaN  10/30/1871  10/30/1871                  NaN  berkena01
980       L   7/16/1999         NaN                 Rice  berkmla01
981       R   4/22/1924   9/24/1933                  NaN  berlyja01
982       R    6/4/1918   6/12/1918                  NaN  bermabo01
983       R    4/6/1977   5/17/1977      Cal Poly Pomona  bernavi01
984       R   9/17/1900   6/24/1901                  NaN  bernacu01
985       R   6/29/1978   10/2/1982              Belmont  bernadw01
986       R   9/23/1909   9/23/1909                  NaN  bernajo01
987       R   7/13/1979   4/26/1991              Florida  bernato01
988       R    8/1/2000   9/30/2006  Armstrong State, GA  bernead01
989       R   4/24/1899   9/19/1907                  NaN  bernhbi01
990       R   7/10/1976    4/8/1979                  NaN  bernhju01
991       R   7/16/1918   7/16/1918                  NaN  bernhwa01
992       R   4/22/1953   9/22/1953                  NaN  bernica01
993       R   9/26/1948   7/22/1951                  NaN   berojo01
994       R   8/22/1977   10/4/1987                  NaN  berrada01
995       R   9/22/1946    5/9/1965                  NaN  berrayo01
996       L   8/11/1912   8/11/1912                  NaN  berrade01

    lahman45ID   retroID    holtzID    bbrefID
0    aaronha01  aaroh101  aaronha01  aaronha01
1    aaronto01  aarot101  aaronto01  aaronto01
2     aasedo01  aased001   aasedo01   aasedo01
3     abadan01  abada001   abadan01   abadan01
4    abadijo01  abadj101  abadijo01  abadijo01
5    abbated01  abbae101  abbated01  abbated01
6    abbeybe01  abbeb101  abbeybe01  abbeybe01
7    abbeych01  abbec101  abbeych01  abbeych01
8    abbotda01  abbod101  abbotda01  abbotda01
9    abbotfr01  abbof101  abbotfr01  abbotfr01
10   abbotgl01  abbog001  abbotgl01  abbotgl01
11   abbotje01  abboj002  abbotje01  abbotje01
12   abbotji01  abboj001  abbotji01  abbotji01
13   abbotku01  abbok002  abbotku01  abbotku01
14   abbotky01  abbok001  abbotky01  abbotky01
15   abbotod01  abboo101  abbotod01  abbotod01
16   abbotpa01  abbop001  abbotpa01  abbotpa01
17    aberal01  abera101   aberal01   aberal01
18   abercda01  aberd101  abercda01  abercda01
19   abernbi01  aberb101  abernbi01  abernbi01
20   abernbr01  aberb001  abernbr01  abernbr01
21   abernte01  abert102  abernte01  abernte01
22   abernte02  abert101  abernte02  abernte02
23   abernwo01  aberw101  abernwo01  abernwo01
24   aberscl01  aberc101  aberscl01  aberscl01
25   ablesha01  ableh101  ablesha01  ablesha01
26   abnersh01  abnes001  abnersh01  abnersh01
27   abramca01  abrac101  abramca01  abramca01
28   abramge01  abrag101  abramge01  abramge01
29   abregjo01  abrej001  abregjo01  abregjo01
..         ...       ...        ...        ...
967  bergehe01  bergh101  bergehe01  bergehe01
968  bergejo01  bergj103  bergejo01  bergejo01
969  bergejo02  bergj102  bergejo02  bergejo02
970  bergetu01  bergt101  bergetu01  bergetu01
971  bergewa01  bergw101  bergewa01  bergewa01
972  bergepe01  bergp001  bergepe01  bergepe01
973  berghjo01  bergj101  berghjo01  berghjo01
974  berghma01  bergm101  berghma01  berghma01
975  bergmal01  berga101  bergmal01  bergmal01
976  bergmda01  bergd001  bergmda01  bergmda01
977  bergmse01  bergs001  bergmse01  bergmse01
978  berkefr01  berkf101  berkefr01  berkefr01
979  berkena01  berkn101  berkena01  berkena01
980  berkmla01  berkl001  berkmla01  berkmla01
981  berlyja01  berlj101  berlyja01  berlyja01
982  bermabo01  bermb101  bermabo01  bermabo01
983  bernavi01  bernv101  bernavi01  bernavi01
984  bernacu01  bernc101  bernacu01  bernacu01
985  bernadw01  bernd101  bernadw01  bernadw01
986  bernajo01  bernj102  bernajo01  bernajo01
987  bernato01  bernt001  bernato01  bernato01
988  bernead01  berna001  bernead01  bernead01
989  bernhbi01  bernb101  bernhbi01  bernhbi01
990  bernhju01  bernj101  bernhju01  bernhju01
991  bernhwa01  bernw101  bernhwa01  bernhwa01
992  bernica01  bernc102  bernica01  bernica01
993   berojo01  beroj101   berojo01   berojo01
994  berrada01  berrd001  berrada01  berrada01
995  berrayo01  berry101  berrayo01  berrayo01
996  berrade01  berrd101  berrade01  berrade01

[997 rows x 33 columns]

In [86]:
import pandas
import pandasql


def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select count(rain) from weather_data where rain > 0
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

if __name__ == "__main__":
    print num_rainy_days("weather_underground.csv")

   count(rain)
0           10

In [2]:
import pandas
import pandasql


def max_temp_aggregate_by_fog(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return two columns and
    two rows - whether it was foggy or not (0 or 1) and the max
    maxtempi for that fog value (i.e., the maximum max temperature
    for both foggy and non-foggy days).  The dataframe will be 
    titled 'weather_data'. You'll need to provide the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select fog, maxtempi from weather_data group by fog
    """
    
    #Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days


if __name__ == "__main__":
    input_filename = "weather_underground.csv"
    #output_filename = "output.csv"
    student_df = max_temp_aggregate_by_fog(input_filename)
    print student_df
    #student_df.to_csv(output_filename)

   fog  maxtempi
0    0        86
1    1        81

In [87]:
import pandas
import pandasql

def avg_weekend_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - the average meantempi on days that are a Saturday
    or Sunday (i.e., the the average mean temperature on weekends).
    The dataframe will be titled 'weather_data' and you can access
    the date in the dataframe via the 'date' column.
    
    You'll need to provide  the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    Also, you can convert dates to days of the week via the 'strftime' keyword in SQL.
    For example, cast (strftime('%w', date) as integer) will return 0 if the date
    is a Sunday or 6 if the date is a Saturday.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select avg(cast(meantempi as integer)) from weather_data where cast(strftime('%w', date) as integer) = 0 OR cast(strftime('%w', date) as integer) =6
    """
    
    #Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

if __name__ == "__main__":
    print avg_weekend_temperature("weather_underground.csv")

   avg(cast(meantempi as integer))
0                        65.111111

In [54]:
import pandas
import pandasql

def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on 
    rainy days where the minimum temperature is greater than 55 degrees.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select avg(cast(mintempi as integer)) from weather_data where cast(rain as integer) = 1 and cast(mintempi as integer) > 55
    """
    
    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

if __name__ == "__main__":
    input_filename = "weather_underground.csv"
    #output_filename = "output.csv"
    student_df = avg_min_temperature(input_filename)
    print student_df
    #student_df.to_csv(output_filename)

   avg(cast(mintempi as integer))
0                           61.25

In [88]:
import csv

def fix_turnstile_data(filenames):
    '''
    Filenames is a list of MTA Subway turnstile text files. A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    As you can see, there are numerous data points included in each row of the
    a MTA Subway turnstile text file. 

    You want to write a function that will update each row in the text
    file so there is only one entry per row. A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    Write the updates to a different text file in the format of "updated_" + filename.
    For example:
        1) if you read in a text file called "turnstile_110521.txt"
        2) you should write the updated data to "updated_turnstile_110521.txt"

    The order of the fields should be preserved. Remember to read through the 
    Instructor Notes below for more details on the task. 
    
    In addition, here is a CSV reader/writer introductory tutorial:
    http://goo.gl/HBbvyy
    
    You can see a sample of the turnstile text file that's passed into this function
    and the the corresponding updated file in the links below:
    
    Sample input file:
    https://www.dropbox.com/s/mpin5zv4hgrx244/turnstile_110528.txt
    Sample updated file:
    https://www.dropbox.com/s/074xbgio4c39b7h/solution_turnstile_110528.txt
    '''
    for name in filenames:
        # your code here
        f_in=open(name,'r')
        f_out=open('updated_'+name,'w')
        
        reader_in=csv.reader(f_in, delimiter=',')
        writer_out=csv.writer(f_out, delimiter=',')
        
        for line in reader_in:
            for x in xrange((len(line)-3)/5):
                line_1 = [line[0], line[1], line[2], line[5*x+3], line[5*x+4], line[5*x+5], line[5*x+6], line[5*x+7]]
                writer_out.writerow(line_1)
            
        f_in.close()
        f_out.close()

if __name__ == "__main__":
    input_files = ['turnstile_110528.txt', 'turnstile_110604.txt']
    fix_turnstile_data(input_files)

None

In [ ]:
def create_master_turnstile_file(filenames, output_file):
    '''
    Write a function that takes the files in the list filenames, which all have the 
    columns 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn', and consolidates
    them into one file located at output_file.  There should be ONE row with the column
    headers, located at the top of the file. The input files do not have column header
    rows of their own.
    
    For example, if file_1 has:
    line 1 ...
    line 2 ...
    
    and another file, file_2 has:
    line 3 ...
    line 4 ...
    line 5 ...
    
    We need to combine file_1 and file_2 into a master_file like below:
     'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
    line 1 ...
    line 2 ...
    line 3 ...
    line 4 ...
    line 5 ...
    '''
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            # your code here
            f_in=open(filename,'r')
            reader_in=f_in.read()
            master_file.write(reader_in)
            f_in.close()

if __name__ == "__main__":
    input_files = ['turnstile_110528.txt', 'turnstile_110604.txt']
    output = "turnstile_data_master.csv"
    create_master_turnstile_file(input_files, output)

In [89]:
import pandas
import csv

def filter_by_regular(filename):
    '''
    This function should read the csv file located at filename into a pandas dataframe,
    and filter the dataframe to only rows where the 'DESCn' column has the value 'REGULAR'.
    
    For example, if the pandas dataframe is as follows:
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231
    
    The dataframe will look like below after filtering to only rows where DESCn column
    has the value 'REGULAR':
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    '''
    
    with open(filename, 'rb') as f:
        reader_in=csv.reader(f, skipinitialspace=False,delimiter=',', quoting=csv.QUOTE_NONE)
        reader_in.next()
        buf=[]
        for line in reader_in:
            wdb=[]
            for index, wd in enumerate(line):
                if index > 5:
                    wd=int(wd.strip())
                wdb.append(wd)
            buf.append(wdb)
        #print buf
        indx=[]
        for x in xrange(len(buf)):
            indx.append(x)
        #print indx
        #print len(buf)
    turnstile_data = pandas.DataFrame(data=buf, index=indx, 
                                          columns=['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn'])
        # more of your code here
    turnstile_data = turnstile_data[turnstile_data['DESCn']=='REGULAR']
        #print turnstile_data
    return turnstile_data

if __name__ == "__main__":
    input_filename = "turnstile_data_master_subset_get_hours_entries.csv"
    #output_filename = "output.csv"
    turnstile_master = pd.read_csv(input_filename)
    student_df = turnstile_master.groupby(['C/A','UNIT','SCP']).apply(get_hourly_exits)
    print student_df
    #student_df.to_csv(output_filename)

      Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn  \
0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312
1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335
2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353
3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424
4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594
5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808
6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895
7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905
8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941
9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094
10            10  A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337
11            11  A002  R051  02-00-00  05-02-11  20:00:00  REGULAR   3146168
12            12  A002  R051  02-00-00  05-03-11  00:00:00  REGULAR   3146322
13            13  A002  R051  02-00-00  05-03-11  04:00:00  REGULAR   3146335
14            14  A002  R051  02-00-00  05-03-11  08:00:00  REGULAR   3146371
15            15  A002  R051  02-00-00  05-03-11  12:00:00  REGULAR   3146510
16            16  A002  R051  02-00-00  05-03-11  16:00:00  REGULAR   3146790
17            17  A002  R051  02-00-00  05-03-11  20:00:00  REGULAR   3147615
18            18  A002  R051  02-00-00  05-04-11  00:00:00  REGULAR   3147798
19            19  A002  R051  02-00-00  05-04-11  04:00:00  REGULAR   3147809
20            20  A002  R051  02-00-00  05-04-11  08:00:00  REGULAR   3147859
21            21  A002  R051  02-00-00  05-04-11  12:00:00  REGULAR   3147999
22            22  A002  R051  02-00-00  05-04-11  16:00:00  REGULAR   3148276
23            23  A002  R051  02-00-00  05-04-11  20:00:00  REGULAR   3149108
24            24  A002  R051  02-00-00  05-05-11  00:00:00  REGULAR   3149281
25            25  A002  R051  02-00-00  05-05-11  04:00:00  REGULAR   3149297
26            26  A002  R051  02-00-00  05-05-11  08:00:00  REGULAR   3149331
27            34  A002  R051  02-00-00  05-05-11  20:00:00  REGULAR   3150639
28            35  A002  R051  02-00-00  05-06-11  00:00:00  REGULAR   3150815
29            36  A002  R051  02-00-00  05-06-11  04:00:00  REGULAR   3150840
...          ...   ...   ...       ...       ...       ...      ...       ...
4202        4956  A034  R170  03-06-00  05-01-11  09:00:00  REGULAR   9164155
4203        4957  A034  R170  03-06-00  05-01-11  13:00:00  REGULAR   9164311
4204        4958  A034  R170  03-06-00  05-01-11  17:00:00  REGULAR   9164569
4205        4959  A034  R170  03-06-00  05-01-11  21:00:00  REGULAR   9164769
4206        4960  A034  R170  03-06-00  05-02-11  01:00:00  REGULAR   9164854
4207        4961  A034  R170  03-06-00  05-02-11  05:00:00  REGULAR   9164859
4208        4962  A034  R170  03-06-00  05-02-11  09:00:00  REGULAR   9164941
4209        4963  A034  R170  03-06-00  05-02-11  13:00:00  REGULAR   9165124
4210        4964  A034  R170  03-06-00  05-02-11  17:00:00  REGULAR   9165461
4211        4965  A034  R170  03-06-00  05-02-11  21:00:00  REGULAR   9165857
4212        4966  A034  R170  03-06-00  05-03-11  01:00:00  REGULAR   9165949
4213        4967  A034  R170  03-06-00  05-03-11  05:00:00  REGULAR   9165956
4214        4968  A034  R170  03-06-00  05-03-11  09:00:00  REGULAR   9166043
4215        4974  A034  R170  03-06-00  05-03-11  21:00:00  REGULAR   9167110
4216        4975  A034  R170  03-06-00  05-04-11  01:00:00  REGULAR   9167276
4217        4976  A034  R170  03-06-00  05-04-11  05:00:00  REGULAR   9167293
4218        4977  A034  R170  03-06-00  05-04-11  09:00:00  REGULAR   9167375
4219        4978  A034  R170  03-06-00  05-04-11  13:00:00  REGULAR   9167531
4220        4979  A034  R170  03-06-00  05-04-11  17:00:00  REGULAR   9167797
4221        4980  A034  R170  03-06-00  05-04-11  21:00:00  REGULAR   9168228
4222        4981  A034  R170  03-06-00  05-05-11  01:00:00  REGULAR   9168382
4223        4982  A034  R170  03-06-00  05-05-11  05:00:00  REGULAR   9168395
4224        4983  A034  R170  03-06-00  05-05-11  09:00:00  REGULAR   9168483
4225        4984  A034  R170  03-06-00  05-05-11  13:00:00  REGULAR   9168683
4226        4985  A034  R170  03-06-00  05-05-11  17:00:00  REGULAR   9169064
4227        4986  A034  R170  03-06-00  05-05-11  21:00:00  REGULAR   9169547
4228        4991  A034  R170  03-06-00  05-06-11  05:00:00  REGULAR   9169787
4229        4995  A034  R170  03-06-00  05-06-11  21:00:00  REGULAR   9171025
4230        4996  A034  R170  03-06-01  05-01-11  01:00:00  REGULAR   5604407
4231        4997  A034  R170  03-06-01  05-01-11  05:00:00  REGULAR   5604511

       EXITSn  ENTRIESn_hourly  EXITSn_hourly
0     1088151                0              0
1     1088159               23              8
2     1088177               18             18
3     1088231               71             54
4     1088275              170             44
5     1088317              214             42
6     1088328               87             11
7     1088331               10              3
8     1088420               36             89
9     1088753              153            333
10    1088823              243             70
11    1088888              831             65
12    1088918              154             30
13    1088921               13              3
14    1089014               36             93
15    1089341              139            327
16    1089417              280             76
17    1089478              825             61
18    1089515              183             37
19    1089520               11              5
20    1089632               50            112
21    1089965              140            333
22    1090054              277             89
23    1090117              832             63
24    1090139              173             22
25    1090145               16              6
26    1090257               34            112
27    1090714             1308            457
28    1090750              176             36
29    1090759               25              9
...       ...              ...            ...
4202  5796594               17              3
4203  5796677              156             83
4204  5796765              258             88
4205  5796838              200             73
4206  5796848               85             10
4207  5796849                5              1
4208  5796900               82             51
4209  5796959              183             59
4210  5797136              337            177
4211  5797317              396            181
4212  5797327               92             10
4213  5797327                7              0
4214  5797368               87             41
4215  5797892             1067            524
4216  5797906              166             14
4217  5797907               17              1
4218  5797946               82             39
4219  5798020              156             74
4220  5798161              266            141
4221  5798360              431            199
4222  5798378              154             18
4223  5798380               13              2
4224  5798410               88             30
4225  5798510              200            100
4226  5798683              381            173
4227  5798956              483            273
4228  5799002              240             46
4229  5799732             1238            730
4230  2448624                0              0
4231  2448644              104             20

[4232 rows x 11 columns]

In [90]:
import pandas

def get_hourly_entries(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative entry numbers to a count of entries since the last reading
    (i.e., entries since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called ENTRIESn_hourly
       2) Assign to the column the difference between ENTRIESn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 1.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Examples of what your dataframe should look like at the end of this exercise:
    
           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243
    ...
    ...

    '''
    #your code here
    df0=df['ENTRIESn']
    #print df0
    df1=df['ENTRIESn'].shift(1)
    df3=df0-df1
    #print df3
    p=pandas.Series(df3, index=df.index)
    df['ENTRIESn_hourly']=p.fillna(1)
    return df

if __name__ == "__main__":
    input_filename = "turnstile_data_master_subset_get_hours_entries.csv"
    #output_filename = "output.csv"
    turnstile_master = pd.read_csv(input_filename)
    student_df = turnstile_master.groupby(['C/A','UNIT','SCP']).apply(get_hourly_exits)
    print student_df
    #student_df.to_csv(output_filename)

      Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn  \
0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312
1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335
2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353
3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424
4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594
5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808
6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895
7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905
8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941
9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094
10            10  A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337
11            11  A002  R051  02-00-00  05-02-11  20:00:00  REGULAR   3146168
12            12  A002  R051  02-00-00  05-03-11  00:00:00  REGULAR   3146322
13            13  A002  R051  02-00-00  05-03-11  04:00:00  REGULAR   3146335
14            14  A002  R051  02-00-00  05-03-11  08:00:00  REGULAR   3146371
15            15  A002  R051  02-00-00  05-03-11  12:00:00  REGULAR   3146510
16            16  A002  R051  02-00-00  05-03-11  16:00:00  REGULAR   3146790
17            17  A002  R051  02-00-00  05-03-11  20:00:00  REGULAR   3147615
18            18  A002  R051  02-00-00  05-04-11  00:00:00  REGULAR   3147798
19            19  A002  R051  02-00-00  05-04-11  04:00:00  REGULAR   3147809
20            20  A002  R051  02-00-00  05-04-11  08:00:00  REGULAR   3147859
21            21  A002  R051  02-00-00  05-04-11  12:00:00  REGULAR   3147999
22            22  A002  R051  02-00-00  05-04-11  16:00:00  REGULAR   3148276
23            23  A002  R051  02-00-00  05-04-11  20:00:00  REGULAR   3149108
24            24  A002  R051  02-00-00  05-05-11  00:00:00  REGULAR   3149281
25            25  A002  R051  02-00-00  05-05-11  04:00:00  REGULAR   3149297
26            26  A002  R051  02-00-00  05-05-11  08:00:00  REGULAR   3149331
27            34  A002  R051  02-00-00  05-05-11  20:00:00  REGULAR   3150639
28            35  A002  R051  02-00-00  05-06-11  00:00:00  REGULAR   3150815
29            36  A002  R051  02-00-00  05-06-11  04:00:00  REGULAR   3150840
...          ...   ...   ...       ...       ...       ...      ...       ...
4202        4956  A034  R170  03-06-00  05-01-11  09:00:00  REGULAR   9164155
4203        4957  A034  R170  03-06-00  05-01-11  13:00:00  REGULAR   9164311
4204        4958  A034  R170  03-06-00  05-01-11  17:00:00  REGULAR   9164569
4205        4959  A034  R170  03-06-00  05-01-11  21:00:00  REGULAR   9164769
4206        4960  A034  R170  03-06-00  05-02-11  01:00:00  REGULAR   9164854
4207        4961  A034  R170  03-06-00  05-02-11  05:00:00  REGULAR   9164859
4208        4962  A034  R170  03-06-00  05-02-11  09:00:00  REGULAR   9164941
4209        4963  A034  R170  03-06-00  05-02-11  13:00:00  REGULAR   9165124
4210        4964  A034  R170  03-06-00  05-02-11  17:00:00  REGULAR   9165461
4211        4965  A034  R170  03-06-00  05-02-11  21:00:00  REGULAR   9165857
4212        4966  A034  R170  03-06-00  05-03-11  01:00:00  REGULAR   9165949
4213        4967  A034  R170  03-06-00  05-03-11  05:00:00  REGULAR   9165956
4214        4968  A034  R170  03-06-00  05-03-11  09:00:00  REGULAR   9166043
4215        4974  A034  R170  03-06-00  05-03-11  21:00:00  REGULAR   9167110
4216        4975  A034  R170  03-06-00  05-04-11  01:00:00  REGULAR   9167276
4217        4976  A034  R170  03-06-00  05-04-11  05:00:00  REGULAR   9167293
4218        4977  A034  R170  03-06-00  05-04-11  09:00:00  REGULAR   9167375
4219        4978  A034  R170  03-06-00  05-04-11  13:00:00  REGULAR   9167531
4220        4979  A034  R170  03-06-00  05-04-11  17:00:00  REGULAR   9167797
4221        4980  A034  R170  03-06-00  05-04-11  21:00:00  REGULAR   9168228
4222        4981  A034  R170  03-06-00  05-05-11  01:00:00  REGULAR   9168382
4223        4982  A034  R170  03-06-00  05-05-11  05:00:00  REGULAR   9168395
4224        4983  A034  R170  03-06-00  05-05-11  09:00:00  REGULAR   9168483
4225        4984  A034  R170  03-06-00  05-05-11  13:00:00  REGULAR   9168683
4226        4985  A034  R170  03-06-00  05-05-11  17:00:00  REGULAR   9169064
4227        4986  A034  R170  03-06-00  05-05-11  21:00:00  REGULAR   9169547
4228        4991  A034  R170  03-06-00  05-06-11  05:00:00  REGULAR   9169787
4229        4995  A034  R170  03-06-00  05-06-11  21:00:00  REGULAR   9171025
4230        4996  A034  R170  03-06-01  05-01-11  01:00:00  REGULAR   5604407
4231        4997  A034  R170  03-06-01  05-01-11  05:00:00  REGULAR   5604511

       EXITSn  ENTRIESn_hourly  EXITSn_hourly
0     1088151                0              0
1     1088159               23              8
2     1088177               18             18
3     1088231               71             54
4     1088275              170             44
5     1088317              214             42
6     1088328               87             11
7     1088331               10              3
8     1088420               36             89
9     1088753              153            333
10    1088823              243             70
11    1088888              831             65
12    1088918              154             30
13    1088921               13              3
14    1089014               36             93
15    1089341              139            327
16    1089417              280             76
17    1089478              825             61
18    1089515              183             37
19    1089520               11              5
20    1089632               50            112
21    1089965              140            333
22    1090054              277             89
23    1090117              832             63
24    1090139              173             22
25    1090145               16              6
26    1090257               34            112
27    1090714             1308            457
28    1090750              176             36
29    1090759               25              9
...       ...              ...            ...
4202  5796594               17              3
4203  5796677              156             83
4204  5796765              258             88
4205  5796838              200             73
4206  5796848               85             10
4207  5796849                5              1
4208  5796900               82             51
4209  5796959              183             59
4210  5797136              337            177
4211  5797317              396            181
4212  5797327               92             10
4213  5797327                7              0
4214  5797368               87             41
4215  5797892             1067            524
4216  5797906              166             14
4217  5797907               17              1
4218  5797946               82             39
4219  5798020              156             74
4220  5798161              266            141
4221  5798360              431            199
4222  5798378              154             18
4223  5798380               13              2
4224  5798410               88             30
4225  5798510              200            100
4226  5798683              381            173
4227  5798956              483            273
4228  5799002              240             46
4229  5799732             1238            730
4230  2448624                0              0
4231  2448644              104             20

[4232 rows x 11 columns]

In [91]:
import pandas

def get_hourly_exits(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative exit numbers to a count of exits since the last reading
    (i.e., exits since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called EXITSn_hourly
       2) Assign to the column the difference between EXITSn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 0.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Example dataframe below:

          Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly  EXITSn_hourly
    0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                0              0
    1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23              8
    2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18             18
    3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71             54
    4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170             44
    5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214             42
    6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87             11
    7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10              3
    8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36             89
    9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153            333
    '''
    
    #your code here
    df0=df['EXITSn']
    df1=df['EXITSn'].shift(1)
    df2=df0-df1
    p=pandas.Series(df2, index=df.index)
    df['EXITSn_hourly']=p.fillna(0)
    return df

if __name__ == "__main__":
    input_filename = "turnstile_data_master_subset_get_hours_entries.csv"
    #output_filename = "output.csv"
    turnstile_master = pd.read_csv(input_filename)
    student_df = turnstile_master.groupby(['C/A','UNIT','SCP']).apply(get_hourly_exits)
    print student_df
    #student_df.to_csv(output_filename)

      Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn  \
0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312
1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335
2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353
3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424
4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594
5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808
6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895
7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905
8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941
9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094
10            10  A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337
11            11  A002  R051  02-00-00  05-02-11  20:00:00  REGULAR   3146168
12            12  A002  R051  02-00-00  05-03-11  00:00:00  REGULAR   3146322
13            13  A002  R051  02-00-00  05-03-11  04:00:00  REGULAR   3146335
14            14  A002  R051  02-00-00  05-03-11  08:00:00  REGULAR   3146371
15            15  A002  R051  02-00-00  05-03-11  12:00:00  REGULAR   3146510
16            16  A002  R051  02-00-00  05-03-11  16:00:00  REGULAR   3146790
17            17  A002  R051  02-00-00  05-03-11  20:00:00  REGULAR   3147615
18            18  A002  R051  02-00-00  05-04-11  00:00:00  REGULAR   3147798
19            19  A002  R051  02-00-00  05-04-11  04:00:00  REGULAR   3147809
20            20  A002  R051  02-00-00  05-04-11  08:00:00  REGULAR   3147859
21            21  A002  R051  02-00-00  05-04-11  12:00:00  REGULAR   3147999
22            22  A002  R051  02-00-00  05-04-11  16:00:00  REGULAR   3148276
23            23  A002  R051  02-00-00  05-04-11  20:00:00  REGULAR   3149108
24            24  A002  R051  02-00-00  05-05-11  00:00:00  REGULAR   3149281
25            25  A002  R051  02-00-00  05-05-11  04:00:00  REGULAR   3149297
26            26  A002  R051  02-00-00  05-05-11  08:00:00  REGULAR   3149331
27            34  A002  R051  02-00-00  05-05-11  20:00:00  REGULAR   3150639
28            35  A002  R051  02-00-00  05-06-11  00:00:00  REGULAR   3150815
29            36  A002  R051  02-00-00  05-06-11  04:00:00  REGULAR   3150840
...          ...   ...   ...       ...       ...       ...      ...       ...
4202        4956  A034  R170  03-06-00  05-01-11  09:00:00  REGULAR   9164155
4203        4957  A034  R170  03-06-00  05-01-11  13:00:00  REGULAR   9164311
4204        4958  A034  R170  03-06-00  05-01-11  17:00:00  REGULAR   9164569
4205        4959  A034  R170  03-06-00  05-01-11  21:00:00  REGULAR   9164769
4206        4960  A034  R170  03-06-00  05-02-11  01:00:00  REGULAR   9164854
4207        4961  A034  R170  03-06-00  05-02-11  05:00:00  REGULAR   9164859
4208        4962  A034  R170  03-06-00  05-02-11  09:00:00  REGULAR   9164941
4209        4963  A034  R170  03-06-00  05-02-11  13:00:00  REGULAR   9165124
4210        4964  A034  R170  03-06-00  05-02-11  17:00:00  REGULAR   9165461
4211        4965  A034  R170  03-06-00  05-02-11  21:00:00  REGULAR   9165857
4212        4966  A034  R170  03-06-00  05-03-11  01:00:00  REGULAR   9165949
4213        4967  A034  R170  03-06-00  05-03-11  05:00:00  REGULAR   9165956
4214        4968  A034  R170  03-06-00  05-03-11  09:00:00  REGULAR   9166043
4215        4974  A034  R170  03-06-00  05-03-11  21:00:00  REGULAR   9167110
4216        4975  A034  R170  03-06-00  05-04-11  01:00:00  REGULAR   9167276
4217        4976  A034  R170  03-06-00  05-04-11  05:00:00  REGULAR   9167293
4218        4977  A034  R170  03-06-00  05-04-11  09:00:00  REGULAR   9167375
4219        4978  A034  R170  03-06-00  05-04-11  13:00:00  REGULAR   9167531
4220        4979  A034  R170  03-06-00  05-04-11  17:00:00  REGULAR   9167797
4221        4980  A034  R170  03-06-00  05-04-11  21:00:00  REGULAR   9168228
4222        4981  A034  R170  03-06-00  05-05-11  01:00:00  REGULAR   9168382
4223        4982  A034  R170  03-06-00  05-05-11  05:00:00  REGULAR   9168395
4224        4983  A034  R170  03-06-00  05-05-11  09:00:00  REGULAR   9168483
4225        4984  A034  R170  03-06-00  05-05-11  13:00:00  REGULAR   9168683
4226        4985  A034  R170  03-06-00  05-05-11  17:00:00  REGULAR   9169064
4227        4986  A034  R170  03-06-00  05-05-11  21:00:00  REGULAR   9169547
4228        4991  A034  R170  03-06-00  05-06-11  05:00:00  REGULAR   9169787
4229        4995  A034  R170  03-06-00  05-06-11  21:00:00  REGULAR   9171025
4230        4996  A034  R170  03-06-01  05-01-11  01:00:00  REGULAR   5604407
4231        4997  A034  R170  03-06-01  05-01-11  05:00:00  REGULAR   5604511

       EXITSn  ENTRIESn_hourly  EXITSn_hourly
0     1088151                0              0
1     1088159               23              8
2     1088177               18             18
3     1088231               71             54
4     1088275              170             44
5     1088317              214             42
6     1088328               87             11
7     1088331               10              3
8     1088420               36             89
9     1088753              153            333
10    1088823              243             70
11    1088888              831             65
12    1088918              154             30
13    1088921               13              3
14    1089014               36             93
15    1089341              139            327
16    1089417              280             76
17    1089478              825             61
18    1089515              183             37
19    1089520               11              5
20    1089632               50            112
21    1089965              140            333
22    1090054              277             89
23    1090117              832             63
24    1090139              173             22
25    1090145               16              6
26    1090257               34            112
27    1090714             1308            457
28    1090750              176             36
29    1090759               25              9
...       ...              ...            ...
4202  5796594               17              3
4203  5796677              156             83
4204  5796765              258             88
4205  5796838              200             73
4206  5796848               85             10
4207  5796849                5              1
4208  5796900               82             51
4209  5796959              183             59
4210  5797136              337            177
4211  5797317              396            181
4212  5797327               92             10
4213  5797327                7              0
4214  5797368               87             41
4215  5797892             1067            524
4216  5797906              166             14
4217  5797907               17              1
4218  5797946               82             39
4219  5798020              156             74
4220  5798161              266            141
4221  5798360              431            199
4222  5798378              154             18
4223  5798380               13              2
4224  5798410               88             30
4225  5798510              200            100
4226  5798683              381            173
4227  5798956              483            273
4228  5799002              240             46
4229  5799732             1238            730
4230  2448624                0              0
4231  2448644              104             20

[4232 rows x 11 columns]

In [92]:
import pandas

def time_to_hour(time):
    '''
    Given an input variable time that represents time in the format of:
    "00:00:00" (hour:minutes:seconds)
    
    Write a function to extract the hour part from the input variable time
    and return it as an integer. For example:
        1) if hour is 00, your code should return 0
        2) if hour is 01, your code should return 1
        3) if hour is 21, your code should return 21
        
    Please return hour as an integer.
    '''
    
    hour = (ord(time[0])-48)*10+ord(time[1])-48
    return hour

if __name__ == "__main__":
    input_filename = "turnstile_data_master_subset_consolidate_rows.csv"
    #output_filename = "output.csv"
    turnstile_master = pd.read_csv(input_filename)
    student_df = turnstile_master.copy(deep=True)
    student_df['Hour'] = student_df['TIMEn'].map(time_to_hour)
    print student_df['Hour']
    #student_df.to_csv(output_filename)

0       0
1       4
2       8
3      12
4      16
5      20
6       0
7       4
8       8
9      12
10     16
11     20
12      0
13      4
14      8
15     12
16     16
17     20
18      0
19      4
20      8
21     12
22     16
23     20
24      0
25      4
26      8
27     12
28     16
29     20
       ..
346     5
347     9
348    13
349    17
350    21
351     1
352     5
353     9
354    13
355    17
356    21
357     1
358     5
359     9
360    13
361    17
362    21
363     1
364     5
365     9
366    13
367    17
368    21
369     1
370     5
371     9
372    13
373    16
374    17
375    21
Name: Hour, dtype: int64

In [93]:
import datetime

def reformat_subway_dates(date):
    '''
    The dates in our subway data are formatted in the format month-day-year.
    The dates in our weather underground data are formatted year-month-day.
    
    In order to join these two data sets together, we'll want the dates formatted
    the same way.  Write a function that takes as its input a date in the MTA Subway
    data format, and returns a date in the weather underground format.
    
    Hint: 
    There are a couple of useful functions in the datetime library that will
    help on this assignment, called strptime and strftime. 
    More info can be seen here and further in the documentation section:
    http://docs.python.org/2/library/datetime.html#datetime.datetime.strptime
    '''

    date_formatted = datetime.datetime.strptime(date,"%m-%d-%y").strftime("%Y-%m-%d")
    return date_formatted

if __name__ == "__main__":
    input_filename = "turnstile_data_master_subset_time_to_hours.csv"
    #output_filename = "output.csv"

    turnstile_master = pd.read_csv(input_filename)
    student_df = turnstile_master.copy(deep=True)
    student_df['DATEn'] = student_df['DATEn'].map(reformat_subway_dates)
    print student_df['DATEn']
    #student_df.to_csv(output_filename)

0      2011-05-01
1      2011-05-01
2      2011-05-01
3      2011-05-01
4      2011-05-01
5      2011-05-01
6      2011-05-02
7      2011-05-02
8      2011-05-02
9      2011-05-02
10     2011-05-02
11     2011-05-02
12     2011-05-03
13     2011-05-03
14     2011-05-03
15     2011-05-03
16     2011-05-03
17     2011-05-03
18     2011-05-04
19     2011-05-04
20     2011-05-04
21     2011-05-04
22     2011-05-04
23     2011-05-04
24     2011-05-05
25     2011-05-05
26     2011-05-05
27     2011-05-05
28     2011-05-05
29     2011-05-05
          ...
346    2011-05-02
347    2011-05-02
348    2011-05-02
349    2011-05-02
350    2011-05-02
351    2011-05-03
352    2011-05-03
353    2011-05-03
354    2011-05-03
355    2011-05-03
356    2011-05-03
357    2011-05-04
358    2011-05-04
359    2011-05-04
360    2011-05-04
361    2011-05-04
362    2011-05-04
363    2011-05-05
364    2011-05-05
365    2011-05-05
366    2011-05-05
367    2011-05-05
368    2011-05-05
369    2011-05-06
370    2011-05-06
371    2011-05-06
372    2011-05-06
373    2011-05-06
374    2011-05-06
375    2011-05-06
Name: DATEn, dtype: object

In [3]:
import numpy
import scipy.stats
import pandas

def compare_averages(filename):
    """
    Performs a t-test on two sets of baseball data (left-handed and right-handed hitters).

    You will be given a csv file that has three columns.  A player's
    name, handedness (L for lefthanded or R for righthanded) and their
    career batting average (called 'avg'). You can look at the csv
    file by downloading the baseball_stats file from Downloadables below. 
    
    Write a function that will read that the csv file into a pandas data frame,
    and run Welch's t-test on the two cohorts defined by handedness.
    
    One cohort should be a data frame of right-handed batters. And the other
    cohort should be a data frame of left-handed batters.
    
    We have included the scipy.stats library to help you write
    or implement Welch's t-test:
    http://docs.scipy.org/doc/scipy/reference/stats.html
    
    With a significance level of 95%, if there is no difference
    between the two cohorts, return a tuple consisting of
    True, and then the tuple returned by scipy.stats.ttest.  
    
    If there is a difference, return a tuple consisting of
    False, and then the tuple returned by scipy.stats.ttest.
    
    For example, the tuple that you return may look like:
    (True, (9.93570222, 0.000023))
    """
    baseball_data=pandas.read_csv(filename)
    ldata=baseball_data[baseball_data["handedness"]=='L']
    rdata=baseball_data[baseball_data["handedness"]=='R']

    rg = scipy.stats.ttest_ind(ldata['avg'],rdata['avg'], equal_var=False)
    if rg[1]>=0.5:
        return(True,rg)
    else:
        return(False,rg)


if __name__ == '__main__':
    filename = "baseball_data.csv"
    result = compare_averages(filename)
    print result
    
#The correct t-statistic is +/-9.93570222624

(False, Ttest_indResult(statistic=3.9867064465971302, pvalue=7.482391590970722e-05))

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
    '''
    Before we perform any analysis, it might be useful to take a
    look at the data we're hoping to analyze. More specifically, let's 
    examine the hourly entries in our NYC subway data and determine what
    distribution the data follows. This data is stored in a dataframe
    called turnstile_weather under the ['ENTRIESn_hourly'] column.
    
    Let's plot two histograms on the same axes to show hourly
    entries when raining vs. when not raining. Here's an example on how
    to plot histograms with pandas and matplotlib:
    turnstile_weather['column_to_graph'].hist()
    
    Your histogram may look similar to bar graph in the instructor notes below.
    
    You can read a bit about using matplotlib and pandas to plot histograms here:
    http://pandas.pydata.org/pandas-docs/stable/visualization.html#histograms
    
    You can see the information contained within the turnstile weather data here:
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv
    '''
    
    plt.figure()
    turnstile_weather[turnstile_weather['rain']==1]['ENTRIESn_hourly'].hist() # your code here to plot a historgram for hourly entries when it is raining
    turnstile_weather[turnstile_weather['rain']==0]['ENTRIESn_hourly'].hist() # your code here to plot a historgram for hourly entries when it is not raining
    return plt


if __name__ == "__main__":
    image = "plot.png"
    turnstile_weather = pd.read_csv("turnstile_data_master_with_weather.csv")
    plt = entries_histogram(turnstile_weather)
    plt.savefig(image)

In [102]:
import numpy as np
import scipy
import scipy.stats
import pandas

def mann_whitney_plus_means(turnstile_weather):
    '''
    This function will consume the turnstile_weather dataframe containing
    our final turnstile weather data. 
    
    You will want to take the means and run the Mann Whitney U-test on the 
    ENTRIESn_hourly column in the turnstile_weather dataframe.
    
    This function should return:
        1) the mean of entries with rain
        2) the mean of entries without rain
        3) the Mann-Whitney U-statistic and p-value comparing the number of entries
           with rain and the number of entries without rain
    
    You should feel free to use scipy's Mann-Whitney implementation, and you 
    might also find it useful to use numpy's mean function.
    
    Here are the functions' documentation:
    http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html
    http://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html
    
    You can look at the final turnstile weather data at the link below:
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv
    '''
    
    ### YOUR CODE HERE ###
    wrm=turnstile_weather[turnstile_weather['rain']==1]['ENTRIESn_hourly']
    with_rain_mean=np.mean(wrm)
    worm=turnstile_weather[turnstile_weather['rain']==0]['ENTRIESn_hourly']
    without_rain_mean=np.mean(worm)
    [U,p]=scipy.stats.mannwhitneyu(wrm, worm)
    
    return with_rain_mean, without_rain_mean, U, p # leave this line for the grader


if __name__ == "__main__":
    input_filename = "turnstile_data_master_with_weather.csv"
    turnstile_master = pd.read_csv(input_filename)
    student_output = mann_whitney_plus_means(turnstile_master)

    print student_output
    
#Here's the correct output:
#(1105.4463767458733, 1090.278780151855, 1924409167.0, 0.024999912793489721)

(1105.4463767458733, 1090.278780151855, 1924409167.0, 0.024999912793489721)

In [99]:
#Gradient Descent
import numpy as np
import pandas as pd

#############################################################################
def normalize_features(array):
   """
   Normalize the features in our data set.
   """
   array_normalized = (array-array.mean())/array.std()
   mu = array.mean()
   sigma = array.std()

   return array_normalized, mu, sigma

def compute_cost(features, values, theta):
    """
    Compute the cost function given a set of features / values, and the values for our thetas.
    """
    m = len(values)
    sum_of_square_errors = np.square(np.dot(features, theta) - values).sum()
    cost = sum_of_square_errors / (2*m)

    return cost

def gradient_descent(features, values, theta, alpha, num_iterations):
    """
    Perform gradient descent given a data set with an arbitrary number of features.
    """

    m = len(values)
    cost_history = []

    for i in range(num_iterations):
        predicted_values = np.dot(features, theta)
        theta = theta - alpha / m * np.dot((predicted_values - values), features)

        cost = compute_cost(features, values, theta)
        cost_history.append(cost)

    return theta, pd.Series(cost_history)

if __name__ == '__main__':

    # Read data into a pandas dataframe.
    data = pandas.read_csv('baseball_stats_regression.csv')

    # Isolate features / values.
    features = data[['height', 'weight']]
    values = data[['HR']]
    m = len(values)

    # Normalize features.
    features, mu, sigma = normalize_features(features)

    # Add a column of ones to features for constant term.
    features['ones'] = numpy.ones(m)
    features_array = numpy.array(features[['ones', 'height', 'weight']])
    values_array = numpy.array(values).flatten()

    # Set values for alpha, number of iterations.
    alpha = 0.01
    num_iterations = 1000

    # Initialize theta and perform gradient descent.
    theta_gradient_descent = numpy.zeros(3)
    theta_gradient_descent, cost_history = gradient_descent(features_array, values_array, theta_gradient_descent,
                                                            alpha, num_iterations)

    print "Theta =\n{theta}\n\nCost History = \n{history}".format(theta=theta_gradient_descent, history=cost_history)

Theta =
[ 45.35759233  -9.02442042  13.69229668]

Cost History =
0      3748.133469
1      3727.492258
2      3707.261946
3      3687.434249
4      3668.001052
5      3648.954405
6      3630.286519
7      3611.989767
8      3594.056675
9      3576.479921
10     3559.252334
11     3542.366888
12     3525.816700
13     3509.595027
14     3493.695263
15     3478.110938
16     3462.835711
17     3447.863371
18     3433.187834
19     3418.803138
20     3404.703444
21     3390.883030
22     3377.336290
23     3364.057733
24     3351.041978
25     3338.283754
26     3325.777897
27     3313.519347
28     3301.503147
29     3289.724439
          ...
970    2686.739192
971    2686.738609
972    2686.738029
973    2686.737453
974    2686.736881
975    2686.736312
976    2686.735747
977    2686.735186
978    2686.734628
979    2686.734074
980    2686.733523
981    2686.732975
982    2686.732431
983    2686.731891
984    2686.731354
985    2686.730820
986    2686.730290
987    2686.729764
988    2686.729240
989    2686.728720
990    2686.728203
991    2686.727690
992    2686.727179
993    2686.726672
994    2686.726168
995    2686.725668
996    2686.725170
997    2686.724676
998    2686.724185
999    2686.723697
dtype: float64

In [7]:
# Linear Regression OLS

import numpy as np
import pandas as pd
import statsmodels.api as sm

"""
In this question, you need to:
1) implement the linear_regression() procedure
2) Select features (in the predictions procedure) and make predictions.

"""

def linear_regression(features, values):
    """
    Perform linear regression given a data set with an arbitrary number of features.
    
    This can be the same code as in the lesson #3 exercise.
    """
    
    ###########################
    ### YOUR CODE GOES HERE ###
    ###########################
    features=sm.add_constant(features)
    model=sm.OLS(values,features)
    results=model.fit()
    intercept = results.params[0]
    params=results.params[1:]
    
    return intercept, params

def predictions(dataframe):
    '''
    The NYC turnstile data is stored in a pandas dataframe called weather_turnstile.
    Using the information stored in the dataframe, let's predict the ridership of
    the NYC subway using linear regression with gradient descent.
    
    You can download the complete turnstile weather dataframe here:
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv    
    
    Your prediction should have a R^2 value of 0.40 or better.
    You need to experiment using various input features contained in the dataframe. 
    We recommend that you don't use the EXITSn_hourly feature as an input to the 
    linear model because we cannot use it as a predictor: we cannot use exits 
    counts as a way to predict entry counts. 
    '''
    ################################ MODIFY THIS SECTION #####################################
    # Select features. You should modify this section to try different features!             #
    # We've selected rain, precipi, Hour, meantempi, and UNIT (as a dummy) to start you off. #
    # See this page for more info about dummy variables:                                     #
    # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html          #
    ##########################################################################################
    features = dataframe[['rain', 'fog', 'Hour', 'meantempi']]
    dummy_units = pandas.get_dummies(dataframe['UNIT'], prefix='unit')
    features = features.join(dummy_units)
    
    # Values
    values = dataframe['ENTRIESn_hourly']

    # Perform linear regression
    intercept, params = linear_regression(features, values)
    predictions = intercept + np.dot(features, params)
    
    print "intercept: ", intercept
    print "params: ", params[:4]

    return predictions

def compute_r_squared(data, predictions):
    # Write a function that, given two input numpy arrays, 'data', and 'predictions,'
    # returns the coefficient of determination, R^2, for the model that produced 
    # predictions.
    # 
    # Numpy has a couple of functions -- np.mean() and np.sum() --
    # that you might find useful, but you don't have to use them.

    # YOUR CODE GOES HERE
    
    avg_data=np.mean(data)
    r_squared = 1 - np.sum((data-predictions)**2)/np.sum((data-avg_data)**2)

    return r_squared

if __name__ == "__main__":
    input_filename = "turnstile_data_master_with_weather.csv"
    turnstile_master = pd.read_csv(input_filename)
    predicted_values = predictions(turnstile_master)
    r_squared = compute_r_squared(turnstile_master['ENTRIESn_hourly'], predicted_values) 

    print r_squared

#Your r^2 value is 0.479832970696

intercept:  1393.26788464
params:  rain         -36.519468
fog          103.125772
Hour          67.390852
meantempi     -8.492697
dtype: float64
0.458211888431

In [100]:
# Linear Regression using SGDRegressor = 20

import numpy as np
import pandas
from sklearn.linear_model import SGDRegressor

"""
In this question, you need to:
1) Implement the linear_regression() procedure using gradient descent.
   You can use the SGDRegressor class from sklearn, since this class uses gradient descent.
2) Select features (in the predictions procedure) and make predictions.

"""

def normalize_features(features):
    ''' 
    Returns the means and standard deviations of the given features, along with a normalized feature
    matrix.
    ''' 
    means = np.mean(features, axis=0)
    std_devs = np.std(features, axis=0)
    normalized_features = (features - means) / std_devs
    return means, std_devs, normalized_features

def recover_params(means, std_devs, norm_intercept, norm_params):
    ''' 
    Recovers the weights for a linear model given parameters that were fitted using
    normalized features. Takes the means and standard deviations of the original
    features, along with the intercept and parameters computed using the normalized
    features, and returns the intercept and parameters that correspond to the original
    features.
    ''' 
    intercept = norm_intercept - np.sum(means * norm_params / std_devs)
    params = norm_params / std_devs
    return intercept, params

def linear_regression(features, values):
    """
    Perform linear regression given a data set with an arbitrary number of features.
    """
    
    ###########################
    ### YOUR CODE GOES HERE ###
    ###########################
    clf = SGDRegressor(n_iter=20)
    results=clf.fit(features,values)
    params=clf.coef_
    intercept=clf.intercept_
    
    return intercept, params

def predictions(dataframe):
    '''
    The NYC turnstile data is stored in a pandas dataframe called weather_turnstile.
    Using the information stored in the dataframe, let's predict the ridership of
    the NYC subway using linear regression with gradient descent.
    
    You can download the complete turnstile weather dataframe here:
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv    
    
    Your prediction should have a R^2 value of 0.40 or better.
    You need to experiment using various input features contained in the dataframe. 
    We recommend that you don't use the EXITSn_hourly feature as an input to the 
    linear model because we cannot use it as a predictor: we cannot use exits 
    counts as a way to predict entry counts. 
    
    Note: Due to the memory and CPU limitation of our Amazon EC2 instance, we will
    give you a random subset (~50%) of the data contained in 
    turnstile_data_master_with_weather.csv. You are encouraged to experiment with 
    this exercise on your own computer, locally.
    
    If you receive a "server has encountered an error" message, that means you are 
    hitting the 30-second limit that's placed on running your program. Try using a
    smaller number of features or fewer iterations.
    '''
    ################################ MODIFY THIS SECTION #####################################
    # Select features. You should modify this section to try different features!             #
    # We've selected rain, precipi, Hour, meantempi, and UNIT (as a dummy) to start you off. #
    # See this page for more info about dummy variables:                                     #
    # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html          #
    ##########################################################################################
    features = dataframe[['rain', 'Hour', 'maxdewpti', 'precipi','meandewpti', 'meanwindspdi','meanpressurei','meantempi']]
    dummy_units = pandas.get_dummies(dataframe['UNIT'], prefix='unit')
    features = features.join(dummy_units)
    
    # Values
    values = dataframe['ENTRIESn_hourly']
    
    # Get numpy arrays
    features_array = features.values
    values_array = values.values
    
    means, std_devs, normalized_features_array = normalize_features(features_array)

    # Perform gradient descent
    norm_intercept, norm_params = linear_regression(normalized_features_array, values_array)
    intercept, params = recover_params(means, std_devs, norm_intercept, norm_params)
    
    print "intercept: ", intercept
    print "params: ", params
    
    predictions = intercept + np.dot(features_array, params)
    # The following line would be equivalent:
    # predictions = norm_intercept + np.dot(normalized_features_array, norm_params)
    
    return predictions

if __name__ == "__main__":
    input_filename = "turnstile_data_master_with_weather.csv"
    turnstile_master = pd.read_csv(input_filename)
    predicted_values = predictions(turnstile_master)
    r_squared = compute_r_squared(turnstile_master['ENTRIESn_hourly'], predicted_values) 

    print r_squared
#Your r^2 value is 0.420636342409

0.402509348095

In [104]:
#Linear Regression with Gradient Descent = 75
import numpy as np
import pandas as pd

#############################################################################
def normalize_features(array):
   """
   Normalize the features in our data set.
   """
   array_normalized = (array-array.mean())/array.std()
   mu = array.mean()
   sigma = array.std()

   return array_normalized, mu, sigma

def compute_cost(features, values, theta):
    """
    Compute the cost function given a set of features / values, and the values for our thetas.
    """
    m = len(values)
    sum_of_square_errors = np.square(np.dot(features, theta) - values).sum()
    cost = sum_of_square_errors / (2*m)

    return cost

def gradient_descent(features, values, theta, alpha, num_iterations):
    """
    Perform gradient descent given a data set with an arbitrary number of features.
    """

    m = len(values)
    cost_history = []

    for i in range(num_iterations):
        predicted_values = np.dot(features, theta)
        theta = theta - alpha / m * np.dot((predicted_values - values), features)

        cost = compute_cost(features, values, theta)
        cost_history.append(cost)

    return theta, pd.Series(cost_history)

def predictions(dataframe):

    dummy_units = pd.get_dummies(dataframe['UNIT'], prefix='unit')
    features = dataframe[['rain', 'precipi', 'Hour', 'meantempi']].join(dummy_units)
    values = dataframe[['ENTRIESn_hourly']]
    m = len(values)

    features, mu, sigma = normalize_features(features)

    features['ones'] = np.ones(m)
    features_array = np.array(features)
    values_array = np.array(values).flatten()

    #Set values for alpha, number of iterations.
    alpha = 0.1
    num_iterations = 75

    #Initialize theta, perform gradient descent
    theta_gradient_descent = np.zeros(len(features.columns))
    theta_gradient_descent, cost_history = gradient_descent(features_array, values_array, theta_gradient_descent,
                                                            alpha, num_iterations)

    predictions = np.dot(features_array, theta_gradient_descent)

    return predictions
#############################################################################
def compute_r_squared(data, predictions):
    # Write a function that, given two input numpy arrays, 'data', and 'predictions,'
    # returns the coefficient of determination, R^2, for the model that produced 
    # predictions.
    # 
    # Numpy has a couple of functions -- np.mean() and np.sum() --
    # that you might find useful, but you don't have to use them.

    # YOUR CODE GOES HERE
    
    avg_data=np.mean(data)
    r_squared = 1 - np.sum((data-predictions)**2)/np.sum((data-avg_data)**2)

    return r_squared

if __name__ == "__main__":
    input_filename = "turnstile_data_master_with_weather.csv"
    turnstile_master = pd.read_csv(input_filename)
    predictions = predictions(turnstile_master)
    r_squared = compute_r_squared(turnstile_master['ENTRIESn_hourly'], predictions)
    print r_squared

0.458044314039

In [ ]:
# plot residuals for Gradient Descent = 75

import numpy as np
import scipy
import matplotlib.pyplot as plt
import pandas as pd

def plot_residuals(turnstile_weather, predictions):
    '''
    Using the same methods that we used to plot a histogram of entries
    per hour for our data, why don't you make a histogram of the residuals
    (that is, the difference between the original hourly entry data and the predicted values).
    Try different binwidths for your histogram.

    Based on this residual histogram, do you have any insight into how our model
    performed?  Reading a bit on this webpage might be useful:

    http://www.itl.nist.gov/div898/handbook/pri/section2/pri24.htm
    '''
    
    plt.figure()
    (turnstile_weather['ENTRIESn_hourly'] - predictions).hist()
    return plt

def normalize_features(array):
   """
   Normalize the features in our data set.
   """
   array_normalized = (array-array.mean())/array.std()
   mu = array.mean()
   sigma = array.std()

   return array_normalized, mu, sigma

def compute_cost(features, values, theta):
    """
    Compute the cost function given a set of features / values, and the values for our thetas.
    """
    m = len(values)
    sum_of_square_errors = np.square(np.dot(features, theta) - values).sum()
    cost = sum_of_square_errors / (2*m)

    return cost

def gradient_descent(features, values, theta, alpha, num_iterations):
    """
    Perform gradient descent given a data set with an arbitrary number of features.
    """

    m = len(values)
    cost_history = []

    for i in range(num_iterations):
        predicted_values = np.dot(features, theta)
        theta = theta - alpha / m * np.dot((predicted_values - values), features)

        cost = compute_cost(features, values, theta)
        cost_history.append(cost)

    return theta, pd.Series(cost_history)

def predictions(dataframe):

    dummy_units = pd.get_dummies(dataframe['UNIT'], prefix='unit')
    features = dataframe[['rain', 'precipi', 'Hour', 'meantempi']].join(dummy_units)
    values = dataframe[['ENTRIESn_hourly']]
    m = len(values)

    features, mu, sigma = normalize_features(features)

    features['ones'] = np.ones(m)
    features_array = np.array(features)
    values_array = np.array(values).flatten()

    #Set values for alpha, number of iterations.
    alpha = 0.1
    num_iterations = 75

    #Initialize theta, perform gradient descent
    theta_gradient_descent = np.zeros(len(features.columns))
    theta_gradient_descent, cost_history = gradient_descent(features_array, values_array, theta_gradient_descent,
                                                            alpha, num_iterations)
    predictions = np.dot(features_array, theta_gradient_descent)

    return predictions

if __name__ == "__main__":
    input_filename = "turnstile_data_master_with_weather.csv"
    turnstile_master = pd.read_csv(input_filename)
    prediction_values = predictions(turnstile_master)

    image = "plot.png"
    plt = plot_residuals(turnstile_master, prediction_values)
    plt.savefig(image)

In [97]:
from pandas import *
from ggplot import *

import pandas

def lineplot(hr_year_csv):
    # A csv file will be passed in as an argument which
    # contains two columns -- 'HR' (the number of homerun hits)
    # and 'yearID' (the year in which the homeruns were hit).
    #
    # Fill out the body of this function, lineplot, to use the
    # passed-in csv file, hr_year.csv, and create a
    # chart with points connected by lines, both colored 'red',
    # showing the number of HR by year.
    #
    # You will want to first load the csv file into a pandas dataframe
    # and use the pandas dataframe along with ggplot to create your visualization
    #
    # You can check out the data in the csv file at the link below:
    # https://www.dropbox.com/s/awgdal71hc1u06d/hr_year.csv
    #
    # You can read more about ggplot at the following link:
    # https://github.com/yhat/ggplot/
    
    df=pandas.read_csv(hr_year_csv)
    gg = ggplot(df, aes(df['yearID'], df['HR']))+geom_point(color='red')+geom_line(color='red')
    return gg

if __name__ == "__main__":
    data = "hr_year.csv"
    image = "plot.png"
    gg =  lineplot(data)
    ggsave(image, gg, width=11, height=8)

In [95]:
import pandas

from ggplot import *


def lineplot_compare(hr_by_team_year_sf_la_csv):
    # Write a function, lineplot_compare, that will read a csv file
    # called hr_by_team_year_sf_la.csv and plot it using pandas and ggplot.
    #
    # This csv file has three columns: yearID, HR, and teamID. The data in the
    # file gives the total number of home runs hit each year by the SF Giants 
    # (teamID == 'SFN') and the LA Dodgers (teamID == "LAN"). Produce a 
    # visualization comparing the total home runs by year of the two teams. 
    # 
    # You can see the data in hr_by_team_year_sf_la_csv
    # at the link below:
    # https://www.dropbox.com/s/wn43cngo2wdle2b/hr_by_team_year_sf_la.csv
    #
    # Note that to differentiate between multiple categories on the 
    # same plot in ggplot, we can pass color in with the other arguments
    # to aes, rather than in our geometry functions. For example, 
    # ggplot(data, aes(xvar, yvar, color=category_var)). This should help you 
    # in this exercise.
    dd=pandas.read_csv(hr_by_team_year_sf_la_csv)
    gg = ggplot(dd,aes('yearID','HR', color='teamID'))+geom_point()+geom_line()
    return gg

if __name__ == "__main__":
    data = "hr_by_team_year_sf_la.csv"
    image = "plot.png"
    gg =  lineplot_compare(data)
    ggsave(image, gg, width=11, height=8)

In [ ]:
from pandas import *
from ggplot import *
import datetime

def plot_weather_data(turnstile_weather):
    ''' 
    plot_weather_data is passed a dataframe called turnstile_weather. 
    Use turnstile_weather along with ggplot to make another data visualization
    focused on the MTA and weather data we used in Project 3.
    
    Make a type of visualization different than what you did in the previous exercise.
    Try to use the data in a different way (e.g., if you made a lineplot concerning 
    ridership and time of day in exercise #1, maybe look at weather and try to make a 
    histogram in this exercise). Or try to use multiple encodings in your graph if 
    you didn't in the previous exercise.
    
    You should feel free to implement something that we discussed in class 
    (e.g., scatterplots, line plots, or histograms) or attempt to implement
    something more advanced if you'd like.

    Here are some suggestions for things to investigate and illustrate:
     * Ridership by time-of-day or day-of-week
     * How ridership varies by subway station (UNIT)
     * Which stations have more exits or entries at different times of day
       (You can use UNIT as a proxy for subway station.)

    If you'd like to learn more about ggplot and its capabilities, take
    a look at the documentation at:
    https://pypi.python.org/pypi/ggplot/
     
    You can check out the link 
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv
    to see all the columns and data points included in the turnstile_weather 
    dataframe.
     
   However, due to the limitation of our Amazon EC2 server, we are giving you a random
    subset, about 1/3 of the actual data in the turnstile_weather dataframe.
    '''
    dataTW = turnstile_weather
    entries_DayOfMonth = dataTW[['DATEn', 'ENTRIESn_hourly']].groupby('DATEn', as_index=False).sum()
    entries_DayOfMonth['Day'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%w %A') 
    for x in entries_DayOfMonth['DATEn']]
    entries_Day = entries_DayOfMonth[['Day', 'ENTRIESn_hourly']].groupby('Day', as_index=False).sum()
    plot = ggplot(entries_Day, aes(x='Day', y='ENTRIESn_hourly')) \
    + geom_bar(aes(weight='ENTRIESn_hourly'), fill='red',stat="bar") \
           + ggtitle('NYC Subway ridership / day of week') \
        + xlab('Day') + ylab('Entries')
    return plot

if __name__ == "__main__":
    image = "plot.png"
    with open(image, "wb") as f:
        turnstile_weather = pandas.read_csv(input_filename)
        turnstile_weather['datetime'] = turnstile_weather['DATEn'] + ' ' + turnstile_weather['TIMEn']
        gg =  plot_weather_data(turnstile_weather)
        ggsave(f, gg)